*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.vrb
*.snm
*.fls
*.pdf
*.fdb_latexmk
dcp.pdf
*.DS_Store
.ipynb_checkpoints
exercises/*_sltn.ipynb

.idea
book/_build
.venv
.ruff_cache
