repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-toml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: fix-encoding-pragma

-   repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    -   id: black

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: 'v0.0.275'
  hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
