# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: CVX Short Course
author: CVX
#logo: static/logo.jpeg
only_build_toc_files: true

execute:
  execute_notebooks: force
  timeout: 600               # 10 minutes timeout
  #allow_errors: false
  exclude_patterns:
    - _build
    - .DS_Store
    - "*.ipynb_checkpoints"
    - "exercises/notebooks/*.ipynb"
    - "hello/notebooks/*.ipynb"

sphinx:
  config:
    html_js_files:
    - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js

parse:
  myst_enable_extensions:
    - substitution
    - linkify
    - dollarmath
    - amsmath
  myst_substitutions:
    book_url: https://www.cvxgrp.org/cvx_short_course


# Information about where the book exists on the web
repository:
  url: https://github.com/cvxgrp/cvx_short_course
  #url: https://cvxgrp.grp/cvx_short_course  # Online location of your book
  path_to_book: book  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  #use_edit_page_button: true
  extra_navbar: Powered by <a href="https://jupyterbook.org">Jupyter Book</a>  # Will be displayed underneath the left navbar.


# https://jupyterbook.org/en/stable/interactive/launchbuttons.html

#launch_buttons:
  #notebook_interface: "classic" # "jupyterlab" or "classic"
  #binderhub_url: "https://mybinder.org"
  # jupyterhub_url: "your-hub-url"
  # colab_url: "https://colab.research.google.com"

